<div class="container">

  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <select name="" class="custom-select" (change)="changeLang($event.target)">
<option>select language</option> 
        <option value="en" [selected]="lang == 'en'">English</option>
        <option value="de" [selected]="lang == 'de'">Deutsch</option>
        <option value="ar" [selected]="lang == 'ar'">Arabic</option>
      </select>
    </div>
  </div>
  <!-- <select [(ngModel)]="translationService.language">
    <option *ngFor="let language of translationService.language" [ngValue]="language">{{language}}</option>
  </select> -->
  

</div>


<div *ngFor="let details of detailsArray.results" class="pb-3 pe-3" style="display:inline-flex">
  <div class="card" style="width: 18rem;">
        <img src="{{details.image}}" class="card-img-top" alt="...">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <span style="font-weight: bold;">{{'name'| translate}}</span>  : {{details.name}}</li>
          <li class="list-group-item"> <span style="font-weight:bold ;">{{'gender'|translate}}</span> : {{details.gender}}</li>
          <li class="list-group-item"><span style="font-weight:bold;">{{'species'|translate}}</span> : {{details.species}}</li>
        </ul>
  </div>
</div>